<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nt118_nhom2_trips">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NT118_Nhom2_TripS"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".CreateNewTrip"
            android:exported="true"/>
        <activity android:name=".PlanTrip"/>
        <activity android:name=".AddActivity"/>
        <activity android:name=".Tour"/>
        <activity android:name=".Activity_Hotel"/>
        <activity android:name=".NewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn"/>
        <activity android:name=".SignUp"/>
    </application>

</manifest>